# Node.js
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
*.staging/
*.build/

# dotenv environment variables file
.env

# Optional: OS-specific files
.DS_Store
Thumbs.db